---
import logoClaro from '~/assets/images/mrm-oscuro.png';
import logoOscuro from '~/assets/images/mrm-claro.png';
---

<a href="/">
  <img
    src={logoOscuro.src}
    alt="Marco R. Morales"
    class="block dark:hidden h-14"
  />

  <img
    src={logoClaro.src}
    alt="Marco R. Morales"
    class="hidden dark:inline h-14"
  />
</a>